%hr

%form{:method => "POST", :action => '/comment'}
  %input{:type => "hidden", :value => "PUT"}
  %table
    %tr
      %td 名前
      %td 
        %input{:type => "text", :name => "name"}
    %tr
      %td URL
      %td
        %input{:type => "text", :name => "url"}
    %tr
      %td 内容
      %td
        %textarea{:name => "message", :cols => 60, :rows => 8}
    %tr
      %td
      %td
        %input{:type => "submit"}

%hr

- @comments.each do |comment|
  .comment
    %h2== #{comment.title} (by #{comment.name})
    .message
      = comment.message

  %hr
