%hr

%form{:method => "POST", :action => '/comment'}
  %input{:type => "hidden", :value => "PUT"}
  %table
    %tr
      %td åå‰
      %td 
        %input{:type => "text", :name => "name"}
    %tr
      %td URL
      %td
        %input{:type => "text", :name => "url"}
    %tr
      %td å†…å®¹
      %td
        %textarea{:name => "message", :cols => 60, :rows => 8}
    %tr
      %td
      %td
        %input{:type => "submit"}

%hr
